body{
    background-color: #DDFFE7;;
}
h1 {
    color: #167D7F;
    }
h2{
        color: #167D7F;
        }
    hr {
 background-color: #98D7C2;
 border-style: none;
 height: 2px;
 width: 1338px;
}

 p { 
     color: #29A0B1;
   }
   Anasimage.png{
    width: 10em;
    height: 5ex;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

Anasimage.png:hover {
    background-color: rgb(165, 106, 34);
}
