body{
    background-color: #DDFFE7;;
}
h1 {
    color: #167D7F;
    }
h2{
        color: #167D7F;
        }
    hr {
 background-color: #98D7C2;
 border-style: none;
 height: 2px;
 width: 1338px;
}
pro{

    text-decoration: underline;
}

 p { 
     color: #29A0B1;
   }
  